@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:wght@400;700&family=Montserrat:wght@700;900&display=swap');

html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
  }

body {
    background-image: url("../fundo.png");
    background-repeat: no-repeat;
}

.container {
    width: 75vw;
    height: 100vh;
    margin: auto;

    /*grid*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vh 60vh 10vh;

    grid-template-areas: "h h h"
                         "m m m"
                         "f f f";
  }

 /*header*/ 

header {
    grid-area: h;

    /*grid*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header h1 {
    font-size: 36px;
    color: #2F2E41;
}

.nome {
    align-self: center;
}

.imagem_index {
    display: flex;
    justify-self:center;
    align-self:end;
}

.dev {
    align-self: end;
}

.social {
    display: flex;
    justify-self: end;
    align-self: center;
}

.social_icon {
    align-self: flex-end;
    margin: 5px;
    width: 30px;
    height: 30px;
}

.ionicon {
    color: #E35B5B;
    fill: #E35B5B;
}

/*
.social_icon :hover {
    color: #5E7AFE;
    fill: #5E7AFE;
}
*/
#email :hover {
    color: #CD3C30;
}
#linkedin :hover {
    fill: #0A66C2;
}
#dribble :hover {
    fill: #F082AC;
}
#github :hover {
    fill: #2D333B;
}

 /*main*/ 

main {
    grid-area: m;

    /*grid*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 30% 40%;
}

.botoes_principais {
    border: #2F2E41 solid 1px;
    height: 80px;

    /*grid*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
}

main div a {
    /*grid*/
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;

    text-decoration: none;
}

.botao_icon {
    align-self: center;
    margin-left: 50px;

    fill: #3F3D56;
}

main div div svg {
    width: 50px;
    height: 50px;
}

.botoes_titulos {
   align-self: center;
   height:100%;
   margin: auto;

   /*cores da letras dos botões*/
   color: #2F2E41;

   /*grid*/
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 50% 50%;
}

main div div h2 {
    font-size: 30px;
    justify-self: center;
    align-self:center;

    margin-top: 50px;
    margin-right: 50px;
}

main div div h4 {
    color: #2F2E41;
    font-size: 18px;
    margin-right: 50px;
    align-self: center;
}

#botao_esquerda {
    background-color: #2F2E41;
    border-radius: 10px 0 0 10px;  
}

#botao_esquerda :hover {
    background-color: #fff;
    color: #2F2E41;
    fill: #2F2E41;
    border-radius: 10px 0 0 10px;  
}

#botao_esquerda div svg {
    fill: #FFA12F;
}

#botao_esquerda div h2 {
    color: #FFA12F;
}

#botao_esquerda div h4 {
    color: #FFB348;
}

#botao_direita {
    border-radius: 0 10px 10px 0;
}

#botao_centro {
    border-left: none;
    border-right: none;
}

.botoes_principais :hover {
    background-color: #2F2E41;
    color: #FFA12F;
    fill: #FFA12F;
}

.frase {
    color: #3F3D56;

    /*grid*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
}

.frase h4 {
    align-self: center;
    font-size: 24px;
}

.frase h3 {
    font-size: 36px;
    align-self: center;
}

 /*footer*/ 

footer {
    grid-area: f;
}