@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:wght@400;700&family=Montserrat:wght@700;900&display=swap');

html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
  }

body {

    background: linear-gradient(60deg, rgba(114,198,239,1) 0%, rgba(0,78,143,1) 100%);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60vh 20vh 20vh;

    grid-template-areas: "c"
                         "w"
                         "f";
}

/*fonts*/
h1{
  font-family: 'Montserrat';
  font-weight: 900;
}
h2 {
  font-family: monospace;
  font-weight: 700;
}
p {
  color: #2F2E41;
  font-family: monospace;
  font-size: 24px;
  font-weight: 400;
}

.container {
    grid-area: c;

    width: 75vw;
    height: 60vh;
    margin: auto;

    /*grid*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vh 30vh;

    grid-template-areas: "h h h"
                         "m m m";
  }

 /*header*/ 

header {
    grid-area: h;

    /*grid*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header h1 {
    font-size: 36px;
    color: #FFFFFF;
}

.nome {
    align-self: center;
}

.imagem_index {
    display: flex;
    justify-self:center;
    align-self:end;
}

.dev {
    align-self: end;
}

.social {
    display: flex;
    justify-self: end;
    align-self: center;
}

.social_icon {
    align-self: flex-end;
    margin: 5px;
    width: 30px;
    height: 30px;
}

.ionicon {
    color: #FFFFFF;
    fill: #FFFFFF;
}

#email :hover {
    color: #2F2E41;
}
#linkedin :hover {
    fill: #2F2E41;
}
#dribble :hover {
    fill: #2F2E41;
}
#github :hover {
    fill: #2F2E41;
}

 /*main*/ 

main {
    grid-area: m;

    /*grid*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}

.botoes_principais {
    border: #FFFFFF solid 1px;
    height: 80px;

    /*grid*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
}

main div a {
    text-decoration: none;
}

.botoes_titulos {
   align-self: center;
   height:100%;
   margin: auto;

   /*cores da letras dos botões*/
   color: #FFFFFF;

   /*grid*/
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 100%;
}

main div div h2 {
    font-size: 30px;
    justify-self: center;
    align-self:center;
}

#botao_esquerda {
    border-radius: 10px 0 0 10px;  
}

#botao_esquerda :hover {
    background-color: #FFFFFF;
    border-radius: 10px 0 0 10px;

}

#botao_direita {
    border-radius: 0 10px 10px 0;
}

#botao_direita :hover {
    background-color: #FFFFFF;
    border-radius: 0 10px 10px 0;  
}

#botao_centro {
    border-left: none;
    border-right: none;
}

.botoes_principais :hover {
    background-color: #FFFFFF;
    color: #2F2E41;
}

.texto{
  grid-column-start: 1 ;
  grid-column-end: 4;

  justify-self: center;
  align-self:center;
}


/*wave*/
.wave_container {
    grid-area: w;
}

.waves {
    position:relative;
    width: 100%;
    height:100%;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }


 /*footer*/ 

footer {
    grid-area: f;
    background-color: #FFFFFF;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
}

footer p {
  justify-self: center;
  align-self: flex-end;

  font-size: 15px;

}




