* {
    margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
    width: 70vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

header  {
    display: flex;
    flex-wrap: wrap;
    border: black solid 1px;
}

.title{
    
}

.socials{
    justify-content: flex-end;
}

svg{
    width: 50px;
    height: 50px;
}

.countainer{
    width: 70vw; /* 60% do tamanho do elemento pai*/
    margin: auto; /* alinhando ao centro */
    display: flex; /* declarado no container para alinhas os elementos filhos */
    flex-wrap: wrap; /*quebrar linha quando apertado os elementos*/
    border: solid black 1px;
}

.card {
    width: 200px;
    height: 100px;
    border: black solid 1px;
}